@{
    Layout = "_visitor_layout";
    ViewData["Title"] = "module";
}









<section class="banner-swiper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="swiper-slide-main">
                    <div class="banner-bg">
                        <img src="~/images/banner-swiper/slideshow-pattern.png" alt="banner-swiper" />
                    </div>
                    <div class="banner-swiper-wrapper">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="row">
                                        <div class="col-8">
                                            <h6 class="text-red">
                                                Summer 2024
                                            </h6>
                                        </div>

                                        <div class="col-4">
                                        </div>
                                    </div>


                                </div>


                                <div class="swiper-slide">
                                    <div class="row">
                                        <div class="col-8">
                                            <h6 class="text-red">
                                                Summer 2024
                                            </h6>
                                        </div>

                                        <div class="col-4">
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



