@{

    Layout = "_global_layout";
}

@section head {
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    }

<header class="header-main">

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">

                <div class="header-navigation-main bg-white">
                    <div class="navigation-wrapper">
                        <div class="row">
                            <div class="col-2 col-md-2">
                                <div class="nav-logo">
                                    <img src="~/images/navigation/logo.png" alt="logo" />
                                </div>
                            </div>

                            <div class="col-6 align-content-center">
                                <div class="navigation-list-main">
                                    <div class="navigation-list-wrapper">
                                        <ul class="navigation-list-ul d-flex align-items-center justify-content-around">
                                            <li class="navigation-list-li">
                                                <a class="navigation-list-link" href="">Home</a>

                                                <div class="navigation-sub-details-main">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="navigation-sub-details-wrapper">
                                                                    <div class="row">
                                                                        <div class="col-3">
                                                                            <div class="navigation-sub-details-ul-main">
                                                                                <ul class="nav-sub-ul">
                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>

                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-3">
                                                                            <div class="navigation-sub-details-ul-main">
                                                                                <ul class="nav-sub-ul">
                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>

                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-3">
                                                                            <div class="navigation-sub-details-ul-main">
                                                                                <ul class="nav-sub-ul">
                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>

                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-3">
                                                                            <div class="navigation-sub-details-ul-main">
                                                                                <ul class="nav-sub-ul">
                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>

                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="navigation-list-li">
                                                <a class="navigation-list-link" href="">Shop</a>

                                                <div class="navigation-sub-details-main">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="navigation-sub-details-wrapper">
                                                                    <div class="row">
                                                                        <div class="col-4">
                                                                            <div class="navigation-sub-details-ul-main">
                                                                                <ul class="nav-sub-ul">
                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>

                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>


                                                                                    <li class="nav-sub-li">
                                                                                        <a class="nab-sub-link" href="">Home</a>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="navigation-list-li">
                                                <a class="navigation-list-link" href="">Blog</a>
                                            </li>

                                            <li class="navigation-list-li">
                                                <a class="navigation-list-link" href="">Pages</a>
                                            </li>

                                            <li class="navigation-list-li">
                                                <a class="navigation-list-link" href="">About</a>
                                            </li>

                                            <li class="navigation-list-li">
                                                <a class="navigation-list-link" href="">Contact</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-2 col-md-3 offset-1 align-content-center">
                                <div class="navigation-right-main ">
                                    <div class="navigation-right-social d-flex align-items-center  justify-content-around">
                                        <span class="navigation-right-span fa-solid fa-magnifying-glass">
                                        </span>


                                        <span class="navigation-right-span fa-solid fa-user">
                                        </span>

                                        <span class="navigation-right-span fa-regular fa-heart">
                                        </span>

                                        <span class="navigation-right-span fa-solid fa-bag-shopping">
                                        </span>

                                        <span class="navigation-right-span fa-solid fa-bars">
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</header>








@RenderBody()












<footer>
</footer>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/js/swiper.js"></script>    
}